* {
  font-family: Raleway;
  font-size: 15px;
}

body, html {
  height: 100%;
  margin: 0;
  /*font: 400 15px/1.8 "Lato", sans-serif;*/
  color: #777;
  /*background-color: #8b7575;*/
  background-color: black;
}

/* Begin nav bar style --- */
.navbar {
  z-index: 9999; /*Need this to keep nav bar in front of content*/
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 40%;
  border-radius: 5px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  margin: 3px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  color: red;
}
/* --- End nav bar style */

/* Begin scroll to top button style --- */
#scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#scroll-to-top-btn:hover {
  background-color: #555;
}
/* --- End scroll to top button style */

form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-transform: uppercase; /*Make form headings uppercase*/
  margin-left: 25%;
  margin-top: 40px;
  width: 50%;
}

form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input[type=submit]{
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}
input[type=submit]:hover {
  /*background-color: #45a049;*/
  background-color: #6e6e6e;
}

input[type=text],[type=tel], [type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Begin contact icon area style --- */
.contact-icon-area {
  padding: 10px;
  margin-left: 25%;
}
.contact-button {
  font-size: 40px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding-right: 40px;
  cursor: pointer;
}
/* --- End contact icon area style */